:root {
	--itdb-gold: #f7d72a;
	--itdb-blue: #4ca8d1;
	--itdb-dark-green: #1e6333;
	--itdb-orange: #f78f2a;
	--itdb-red: #dc4c47;
	--itdb-red--accessible: #d93b36;

	--itdb-info-color: #3f9dc6;
	--itdb-action-color: #1e6232;
	--itdb-searchBar_button--color: var(--itdb-dark-green);
}

*,
*::before,
*::after {
	/*When the user is forcibly scrolled to a particular part of the screen, scroll slightly too high so header doesn't overlap content.*/
	scroll-margin-top: 7rem;
}

/* Commented out because I don't think it was working on Rec Site.
When the user's device has no preference, this script would default to smooth-scrolling

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	} 
}
*/

/* Make the image banner bottoms fade to white on Interior and Simple pages. Doesn't work on homepage because the image is cut off on bottom.*/

#bannerDivbanner1 img {
	display: block;
	-webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0.2) 95%, rgba(0, 0, 0, 0) 100%);
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0.2) 95%, rgba(0, 0, 0, 0) 100%);
}

/* Make rightmost global nav item orange */
.mainNav .topMenuItem:last-child {
	background-color: var(--itdb-orange);
	border-radius: 25px;
	transition: 0.2s;
	&:hover {
		background-color: var(--itdb-blue);
	}
	span {
		color: #363636;
	}
}

/* Adding borders and darker text to tabbed widget tabs, to make them easier to read */
ol.cpTabs > li:not(.active) > a {
	border: 2px solid #b8b8b8;
	border-radius: 4px;
	> span {
		color: #6b6b6b;
	}
}

h5 {
	color: var(--itdb-info-color);
}
h6 {
	color: #757452;
}

.itdb-button--info {
	--itdb-button-color: var(--itdb-info-color);
}

.itdb-button--action {
	--itdb-button-color: var(--itdb-action-color);
}

#structuralContainer13 {
	/* This eliminates the extra space that's meant to be left for the homepage banners, which we've eliminated. */
	padding-top: 1.5em;
}

.InfoAdvanced a.readOn,
.widgetViewAll {
	/* makes it obvious when focus is on footer "staff directory" and other "read on"-style buttons */
	&:hover,
	&:focus,
	&:active {
		color: white !important;
		text-decoration: underline !important;
		transform: scale(1.1);
		transition: 0.1s linear;
	}
	&:focus {
		outline: 3px solid var(--itdb-info-color);
	}
}

.siteFooter .widget.skin70 a,
.siteFooter .widget.skin62 a {
	/* Footer Quicklinks contrast */
	color: #454545;
	&:hover,
	&:focus,
	&:active {
		color: var(--itdb-red--accessible);
	}
}

.pageStyles,
.widget.skin49,
.moduleContentNew {
	a:link {
		/* Editor and other widgets link contrast */
		color: var(--itdb-red--accessible);
	}
}
.widget.skin68 a.readOn {
	/* Newsflash widgets 'read on' contrast */
	color: var(--itdb-red--accessible);
}

#structuralContainer11 {
	/* 	hide weird blue sticky footer banner on the homepage */
	display: none;
}

/* GOOGLE SEARCH WIDGET STUFF */
.gsc-control-cse {
	/*rounds the borders on Google Search Results*/
	border-radius: 16px;
	overflow: hidden;
}

/* Transparent backgrounds */
#___gcse_0 table,
#___gcse_1 table,
#___gcse_2 table {
	background-color: transparent;
}
/* end of GOOGLE SEARCH WIDGET STUFF */
