:root {
	--main-blue: hsl(216, 79%, 37%);
	--main-blue-dark: hsl(216, 80%, 32%);
	--main-blue-light: hsl(216, 80%, 42%);
	--main-red: hsl(11, 100%, 36%);
	--main-red-dark: hsl(11, 100%, 31%);
	--main-red-light: hsl(11, 100%, 41%);
	--dpw-green: hsl(149, 71%, 31%);
	--dpw-green-dark: hsl(149, 71%, 26%);
	--dpw-green-light: hsl(149, 71%, 36%);
	--dpw-orange: hsl(23, 82%, 41%);
	--dpw-orange-dark: hsl(23, 82%, 36%);
	--dpw-orange-light: hsl(23, 82%, 46%);
}

/*In bulleted lists, the top level is filled-in circle, then empty circle, then square.
In numbered lists, the top level of lists is 1-2-3, the next is a-b-c, the next is i-ii-iii.*/

.fr-view ul {
	list-style-type: disc !important;
}
.fr-view ul ul {
	list-style-type: circle !important;
}
.fr-view ul ul ul {
	list-style-type: square !important;
}

.fr-view ol ol {
	list-style-type: lower-alpha !important;
}
.fr-view ol ol ol {
	list-style-type: lower-roman !important;
}

.colorful-button,
.itdb-button {
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	text-decoration: none !important;
	border-radius: 11px;
	max-width: 100%;
	margin: 0.25em auto;
	padding: 0.25em;
	color: #fff !important;
	display: inline-block;
	text-align: center;
	transition: all 0.1s linear;
	box-shadow: 0px 2px 3px -1px black;
	&:active {
		box-shadow: inset 0px 1px 3px -1px black;
	}
}

.colorful-button--medium,
.itdb-button--medium {
	width: 14em;
	font-size: 22px;
}
.colorful-button--small,
.itdb-button--small {
	width: 12em;
	font-size: 18px;
}

.colorful-button--blue,
.itdb-button--blue {
	background: var(--main-blue);
	&:hover,
	&:focus {
		background: var(--main-blue-dark);
	}
	&:active {
		background: var(--main-blue-light);
	}
}

.colorful-button--red,
.itdb-button--red {
	background: var(--main-red);
	&:hover,
	&:focus {
		background: var(--main-red-dark);
	}
	&:active {
		background: var(--main-red-light);
	}
}

.colorful-button--green,
.itdb-button--green {
	background: var(--dpw-green);
	&:hover,
	&:focus {
		background: var(--dpw-green-dark);
	}
	&:active {
		background: var(--dpw-green-light);
	}
}

.colorful-button--orange,
.itdb-button--orange {
	background: var(--dpw-orange);
	&:hover,
	&:focus {
		background: var(--dpw-orange-dark);
	}
	&:active {
		background: var(--dpw-orange-light);
	}
}

.itdb-civicclerk-calendar {
	border: 1px solid black;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}
