:root {
	--itdb-info-color: #3f9dc6;
	--itdb-action-color: #1e6232;

	--itdb-gold: #f7d72a;
	--itdb-blue: #4ca8d1;
	--itdb-dark-green: #1e6333;
	--itdb-orange: #f78f2a;
	--itdb-red: #dc4c47;
}

*,
*::before,
*::after {
	/*When the user is forcibly scrolled to a particular part of the screen, scroll slightly too high so header doesn't overlap content.*/
	scroll-margin-top: 7rem;
}

/* Commented out because I don't think it was working on Rec Site.
When the user's device has no preference, this script would default to smooth-scrolling

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	} 
}
*/

/* Make rightmost global nav item orange */
.mainNav .topMenuItem:last-child {
	background-color: var(--itdb-orange);
	&:hover {
		background-color: #4195ba;
	}
	span {
		color: #fff;
	}
}

/* Adding borders and darker text to tabbed widget tabs, to make them easier to read */
ol.cpTabs > li:not(.active) > a {
	border: 2px solid #b8b8b8;
	border-radius: 4px;
	> span {
		color: #6b6b6b;
	}
}

/*In bulleted lists, the top level is filled-in circle, then empty circle, then square.
In numbered lists, the top level of lists is 1-2-3, the next is a-b-c, the next is i-ii-iii.*/

div.editor ul,
.bullets ul,
ol.bullets {
	list-style-type: disc !important;
}
div.editor ul ul,
.bullets ul ul,
ol ol.bullets {
	list-style-type: circle !important;
}
div.editor ul ul ul,
.bullets ul ul ul,
ol ol ol.bullets {
	list-style-type: square !important;
}

div.editor ol ol,
.bullets ol ol {
	list-style-type: lower-alpha !important;
}
div.editor ol ol ol,
.bullets ol ol ol {
	list-style-type: lower-roman !important;
}

.itdb-button--small,
.itdb-button--medium {
	display: inline-block;
	margin: 0.25em auto;
	padding: 0.25em;
	border-radius: 11px;
	max-width: 100%;
	color: #fff !important;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-align: center;
	text-decoration: none !important;
	box-shadow: 0px 2px 3px -1px black;
	transition: all 0.2s linear;
	&:active {
		box-shadow: inset 0px 1px 3px -1px black;
	}
}

.itdb-button--medium {
	width: 14em;
	font-size: 22px;
}
.itdb-button--small {
	width: 12em;
	font-size: 18px;
}

.itdb-button--info {
	--itdb-button-color: var(--itdb-info-color);
}

.itdb-button--action {
	--itdb-button-color: var(--itdb-action-color);
}

.itdb-button--info,
.itdb-button--action {
	background: var(--itdb-button-color);
	&:hover,
	&:focus {
		background: color-mix(in hsl, var(--itdb-button-color), white 10%);
	}
	&:active {
		background: color-mix(in hsl, var(--itdb-button-color), black 5%);
	}
}

.itdb-civicclerk-calendar,
.itdb-board-membership,
.itdb-iframe {
	border: 1px solid #575757;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.itdb-board-membership {
	width: 100%;
	aspect-ratio: 8/5;
}

.itdb-highlight-box {
	/* the 'popped out' text boxes with grey backgrounds */
	margin: 0.5em;
	padding: 0.4em;
	background-color: rgb(209, 213, 216);
	border: 1px solid black;
	border-radius: 15px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.gsc-control-cse {
	/*rounds the borders on Google Search Results*/
	border-radius: 16px;
	overflow: hidden;
}
.gsc-input-box {
	/*rounds the corners on Google Search Bar*/
	border-radius: 8px;
	overflow: hidden;
}

/*NOTICE that this targets the TDs, not the tables like on BrooklineMA.gov*/
#___gcse_0 table,
#___gcse_1 table,
#___gcse_2 table {
	background-color: transparent;
}

.gsst_b {
	/*helps to shrink the "X" button that appears when you type in text.*/
	font-size: 0px;
}
.gscb_a {
	/*ALSO helps to shrink the "X" button that appears when you type in text.*/
	/*I don't know why, but both of these are necessary to do so*/
	line-height: 24px;
}

.clerk-listing-MuiIconButton-colorPrimary svg {
	/* Makes video/download icons more visible in CivicClerk embedded widgets */
	stroke: #111;
	color: #1d3f00 !important;
}

#structuralContainer13 {
	/* This eliminates the extra space that's meant to be left for the homepage banners, which we've eliminated. */
	padding-top: 1.5em;
}
