:root {
	--itdb-main-dark-green: #1d3f00;
	--itdb-main-light-green: #75a201;
	--itdb-main-info-color: var(--itdb-main-light-green);
	--itdb-main-action-color: var(--itdb-main-dark-green);
	--itdb-dpw-info-color: #17874d;
	--itdb-dpw-action-color: #be5513;
}

*,
*::before,
*::after {
	scroll-margin-top: 7rem;
} /*When the user is forcibly scrolled to a particular part of the screen, scroll slightly too high so header doesn't overlap content.*/

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	} /*When the user's device has no preference, default to smooth-scrolling*/
}

.itdb-top-task-buttons {
	display: flex; /*TODO: grid?*/
	flex-flow: row wrap;
	justify-content: space-evenly;
	gap: 1rem;
	a {
		/*flex properties as items in the top task buttons container*/
		flex: 1 1 0;

		/* flex properties as a container for text and icon */
		display: flex;
		justify-content: flex-start;
		flex-flow: row nowrap;
		align-items: center;

		box-sizing: border-box;
		padding: 0.75rem 0.25rem;
		min-width: 14rem;
		max-width: 19rem;
		height: 6.875rem;

		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
		transition: all 0.2s ease-in-out;
		border: 3px solid;
		border-radius: 0.625rem;
		border-color: var(--itdb-main-dark-green);
		text-decoration: none;

		color: #fff;
		background-color: var(--itdb-main-dark-green);

		&:hover {
			color: var(--itdb-main-dark-green);
			background-color: #fff;
		}
		span {
			text-align: left;
			font: bold 1.5rem 'Montserrat', sans-serif; /*TODO Change to Poppins or Roboto?*/
			line-height: 1.2;
			overflow-wrap: break-word;
		}
		i {
			flex-shrink: 0;
			margin-right: 0.4rem;
			font-size: 4rem;
		}
	}
}

/*.icon {
  position: absolute;
  z-index: 90;
  width: 1.2em;
  margin-left: 1.25em;
  margin-top: 1.25em;
  font-size: 2em;
  line-height: 2em;
} */

/*In bulleted lists, the top level is filled-in circle, then empty circle, then square.
In numbered lists, the top level of lists is 1-2-3, the next is a-b-c, the next is i-ii-iii.*/

.fr-view ul:not(footer ul),
.bullets ul,
ol.bullets {
	list-style-type: disc !important;
}
.fr-view ul ul:not(footer ul),
.bullets ul ul,
ol ol.bullets {
	list-style-type: circle !important;
}
.fr-view ul ul ul:not(footer ul),
.bullets ul ul ul,
ol ol ol.bullets {
	list-style-type: square !important;
}

.fr-view ol ol:not(footer ol),
.bullets ol ol {
	list-style-type: lower-alpha !important;
}
.fr-view ol ol ol:not(footer ol),
.bullets ol ol ol {
	list-style-type: lower-roman !important;
}

.itdb-button--small,
.itdb-button--medium {
	display: inline-block;
	margin: 0.25em auto;
	padding: 0.25em;
	border-radius: 11px;
	max-width: 100%;
	color: #fff !important;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-align: center;
	text-decoration: none !important;
	box-shadow: 0px 2px 3px -1px black;
	transition: all 0.2s linear;
	&:active {
		box-shadow: inset 0px 1px 3px -1px black;
	}
}

.itdb-button--small {
	width: 12em;
	font-size: 18px;
}

.itdb-button--medium {
	width: 14em;
	font-size: 22px;
}

.itdb-button--info {
	--itdb-button-color: var(--itdb-main-info-color);
}

.itdb-button--action {
	--itdb-button-color: var(--itdb-main-action-color);
}

.itdb-button--dpw-info {
	--itdb-button-color: var(--itdb-dpw-info-color);
}

.itdb-button--dpw-action {
	--itdb-button-color: var(--itdb-dpw-action-color);
}

.itdb-button--info,
.itdb-button--action,
.itdb-button--dpw-info,
.itdb-button--dpw-action {
	background: var(
		--itdb-button-color
	); /*Give the button the color declared above, then make it darker or lighter if hovered or activated.*/
	&:hover,
	&:focus {
		background: color-mix(in hsl, var(--itdb-button-color), white 10%);
	}
	&:active {
		background: color-mix(in hsl, var(--itdb-button-color), black 5%);
	}
}

.itdb-civicclerk-calendar,
.itdb-board-membership {
	border: 1px solid #575757;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.itdb-highlight-box {
	/* the 'popped out' text boxes with grey backgrounds */
	margin: 0.5em;
	padding: 0.4em;
	background-color: rgb(209, 213, 216);
	border: 1px solid black;
	border-radius: 15px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.gsc-control-cse {
	/*rounds the borders on Google Search Results*/
	border-radius: 16px;
	overflow: hidden;
}
.gsc-input-box {
	/*rounds the corners on Google Search Bar*/
	border-radius: 8px;
	overflow: hidden;
}
#___gcse_0 table,
#___gcse_1 table,
#___gcse_2 table {
	background-color: transparent;
	input {
		background: none !important;
	}
}

.gsst_b {
	/*helps to shrink the "X" button that appears when you type in text.*/
	font-size: 0px;
}
.gscb_a {
	/*ALSO helps to shrink the "X" button that appears when you type in text.*/
	/*I don't know why, but both of these are necessary to do so*/
	line-height: 24px;
}
