:root {
	--main-blue: #144fa7;
	--main-red: #b72200;
	--dpw-green: #17874d;
	--dpw-orange: #be5513;
}

/*In numbered lists, the top level of lists is 1-2-3, the next is a-b-c, the next is i-ii-iii.*/
ul {
	list-style-type: disc;
}
ul ul {
	list-style-type: circle;
}
ul ul ul {
	list-style-type: square;
}

.test-colorful-button {
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	text-decoration: none !important;
	border-radius: 11px;
	max-width: 100%;
	margin: 0.5em auto;
	padding: 0.25em;
	color: #fff !important;
	display: inline-block;
	text-align: center;
}

.test-colorful-button--medium {
	width: 14em;
	font-size: 22px;
}
.test-colorful-button--small {
	width: 12em;
	font-size: 18px;
}

.test-colorful-button--blue {
	background: var(--main-blue);
}

.test-colorful-button--red {
	background: var(--main-red);
}

.test-colorful-button--green {
	background: var(--dpw-green);
}

.test-colorful-button--orange {
	background: var(--dpw-orange);
}
